alias ~="cd ~"
alias ..="cd .."
alias ll="ls -al"
alias upgrade="sudo apt update && sudo apt upgrade -y"
alias system="cd /etc/systemd/system"
alias home="cd ~"
alias dua="du -h --max-depth=1 | sort -rh"
alias syslog='sudo tail -f /var/log/syslog'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'
alias c='clear'
alias ls='ls --color=auto'
alias ll='ls -la
alias ports='netstat -tulanp'
alias meminfo='free -m -l -t'
alias cpuinfo='lscpu'
alias dc='docker-compose'
